@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap'); 

@font-face {
    font-family: 'akzidenz-grotesk_bqbold';
    src: url('../../content/assets/akzidenz-grotesk-bq-bold_2810-webfont.woff2') format('woff2'),
         url('../../content/assets/akzidenz-grotesk-bq-bold_2810-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, 
p, 
h1, 
h2, 
h3,
li, 
footer {
    font-family: 'Work Sans', sans-serif;
}

p {
    color: black;
    animation: transition 8s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

h1, a, .transition {
    color: black; 
    font-family: 'akzidenz-grotesk_bqbold';
    letter-spacing: -1px;
    text-transform: uppercase;
    animation: transition 8s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav ul li a {
    text-decoration: none;
}

.btn {
    color: black; 
    font-family: inherit;
    background: none; 
    border: none;
    font-family: 'Work Sans';
    font-weight: bold;
    margin: 0 0 4em;
    animation: transition 8s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.centered {
    text-align: center;
}

.logo-image {
    padding-top: 8rem;

}
.logo-image path {    
    fill: #0f669c; 
    animation: transition2 14s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

.navbar {
    height: 58px;
}

.mobile-nav-links {
    overflow: hidden;
    text-align: end;
    padding: 1em 2em 0px 0px;
    transition: 1s;
}

.navbarHidden {
    animation: heightAnimation 1s;
    animation-fill-mode: forwards;  
}

.container {
  display: inline-block;
  cursor: pointer;
  margin: 1.5em 1em 0 19em;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@keyframes heightAnimation {
    0% {
        height: 58px,
    }
    100% {
        height: 0px;
        display: none;
    }
}

@keyframes transition {
    0% {
        color: black;         
    }
    50% {
        color: #c8f331;
    }
    100% {
         color: black;   
    }
}

@keyframes transition2 {
    0% {
        fill: black;         
    }
    50% {
        fill: #c8f331;
    }
    100% {
        fill: black;   
    }
}

@media only screen and (max-width: 450px) {
  .navbar {
    display: none;
  }
}

@media only screen and (min-width: 500px) {
  .container {
    display: none;
  }
}