@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap'); 

html, 
p, 
h1, 
h2, 
h3,
li, 
footer {
    font-family: 'Work Sans', sans-serif;
}

.btn {
    color: black; 
    font-family: inherit;
    background: none; 
    border: none;
    font-family: 'Work Sans';
    font-weight: bold;
    margin: 0 0 4em;
}